{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="slider" style="font-family: 'Satisfy', cursive;">
    <ul class="slides">
        <li>
            <img src="{% static 'images/mountaineers.jpg' %}" alt="Django Photo Gallery" class="opaque">
            <div class="caption center-align" style="font-family: 'Satisfy', cursive;">
                <h1>
                    Conqueror's Photo Gallery<br/>
                    <small class="light text-lighten-3 hide-on-small-only">Built to showcase sweet memories</small>
                </h1>

            </div>
        </li>
        <li>
            <img src="{% static 'images/lakes.jpg' %}" alt="Django Photo Gallery" class="opaque">
            <div class="caption left-align">
                <h1>
                    A sobber mind will never cease to discuss ideas<br />
                    <small class="light text-lighten-3 hide-on-small-only">The sapient knows where to build the castles, in the air, because there, they belong..</small>
                </h1>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        {% for album in albums %}

        <div class="col">
            <div class="card dpg-album-card">
                <div class="card-image">
                    <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
                </div>
                <div class="card-content" style="font-family: 'Montez', cursive;">
                    <span class="card-title">{{ album.title }}</span>
                    <p>{{ album.description|truncatechars:120 }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'album' album.slug %}">
                        More Images
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
